.Rproj.user
.Rhistory
.RData
.Ruserdata

#also ignore .tif files and other adjacent files used when downloading the data 

*.tif
*.tif.aux.xml
*.xml
*.json

#Inore all the recovered dowlonaded files
data/recovered_downloads

