.Rproj.user
.Rhistory
.RData
.Ruserdata

#also ignore .tif files and other adjacent files used when downloading the data 

*.tif
*.tif.aux.xml
*.xml
*.json

#Ignore all the recovered downloaded files as well as NFI files as they are too big
data/recovered_downloads
data/NFI


